#composantListeTodos{position: absolute; top: 0; left: 0; width: 100%; height: 100%; display:flex; flex-direction:row;}
#voletGauche{flex-basis: 400px; background: lightgrey; }
#voletDroite{flex:1; padding: 15px; }

.effectue{text-decoration:line-through;}
.todo{display:flex;flex-direction:row; cursor:pointer;}
.titreTodo{flex:1;}
.titreTodo:hover{text-decoration: underline;}
.cochageTodo{flex-basis: 30px;}

