#composantListeTodos{position: absolute; top: 0; left: 0; width: 100%; height: 100%; display:flex; flex-direction:row;flex-wrap: wrap;}
#voletGauche{flex-basis: 400px; background: lightgrey; position:relative;}
#voletDroite{flex:1; padding: 15px; }

.effectue{text-decoration:line-through;}
.selectionne{text-decoration: underline}
.todo{display:flex;flex-direction:row; cursor:pointer;}
.titreTodo{flex:1;}
.titreTodo:hover{text-decoration: underline;}
.cochageTodo{flex-basis: 30px;}

#occlusionLoading{position:absolute; z-index:4; background: white; opacity: 0.5; width: 100%; height: 100%; font-size: 30px; text-align: center; padding-top: 50px;}

